// TODO: Override these Bootstrap variables to customize the look of the site.
// You can find more information about these and other Bootstrap variables at:
// http://getbootstrap.com/customize/#less-variables

$container-tablet: 720px;
$container-desktop: 1000px;
$container-large-desktop: 1200px;
$body-bg: #6600cc;
$jumbotron-bg: #efefef;
$jumbotron-heading-font-size: 36px;
$jumbotron-font-size: 18px;
$border-radius-base: 8px;
$border-radius-small: 4px;
$border-radius-large: 10px;
$brand-primary: #009933;
$brand-success: #00cc44;
$text-muted: #ddd;
//new variables
$nav-tabs-link-hover-border-color: $jumbotron-bg;
$font-family-sans-serif: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$headings-font-weight:  700;
$font-size-base: 16px;
$nav-pills-border-radius: $border-radius-small;

// These styles are imported from Bootstrap.
@import 'bootstrap';

// DONE TODO: Use VARIABLES to avoid repeating colors or pixel measurements.
.container {
  // DONE TODO: Use the darken() function to make the background of the container
  // slightly darker than than the $body-bg color, so that we don't have to
  // change this color if we decide to go with a different background.
  background-color: darken($body-bg, 10%);
  // box-shadow is used here to extend the background color of the container to
  // 20 pixels the left and right of it.
  $box-shadow: 20px 0 0, -20px 0 0 !global;
  box-shadow: $box-shadow, darken($body-bg, 10%);
  footer {
    padding: 30px 0;
  }
}
// DONE TODO: Use NESTING to include this footer inside of the .container definition
// above.

// DONE TODO: Use NESTING to avoid repeating .jumbotron or h1.
.jumbotron {
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  h1 {
    line-height: 1;
    &:first-child {
      margin-top: 0;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}

// DONE TODO: Use NESTING to avoid repeating .text-muted.
h1, h2, h3, h4, h5, h6 {
  .text-muted {
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

// DONE TODO: Delete the styles copied from the .well class and instead EXTEND the
// the .well class into this class, so that we don't have repeat styles
// already defined elsewhere.
.marketing-widget {
  @extend .well;
  // Original styles to override the .well class
  background-color: $jumbotron-bg;
  border: 1px dotted $brand-primary;
}

// DONE TODO: Define a MIXIN so that we can just specify `@include rotate(-3, 'left')` in
// order to rotate something. This way, we don't have to repeat our vendor
// prefixes every time.
@mixin rotate($deg, $direction) {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

.project-name {
    @include rotate(-3, 'left');
}
